.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 175px;
  margin: 5px;
}

.covered {
  background-color: black;
}

.scoreResult {
  margin-left: 33%;
  margin-right: 33%;
  text-align: center;
}

.buttons {
  margin-left: 33%;
  margin-right: 33%;
  text-align: center;
}

.covered img {
  display: none;
}

.hand {
  overflow: auto;
}

.next-button {
  display: none;
}

body {
  background-image: url('http://www.customtablefelt.com/images/suited-poker-felt/suited-poker-table-felt-400x300.jpg');
}

.container {
  background: white;
  width: 540px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: #000 3px 3px 5px;
}
